<h1>Login</h1>
<% if (messages.error) { %>
    <%= messages.error %>
    <% } %>
<form action ="/login" method="POST">
    

    <!-- EMAIL FORM  -->
    <div>
        <label for="email">Email</label>
        <input type="email" 
                id="email" 
                name="email"
                required>
    </div>

    <!-- PASSWORD FORM  -->
    <div>
        <label for="password">Name</label>
        <input type="password" 
                id="password" 
                name="password"
                required>
    </div>

    <!-- SUBMIT FORM -->
    <button type="submit">Login</button>

</form>

    <!-- BACK TO LOGIN PAGE -->
    <a href="/register">Register</a>