<h1>Register</h1>
<form action ="/register" method="POST">
    
<!-- NAME FORM  -->
    <div>
        <label for="name">Name</label>
        <input type="text" 
                id="name" 
                name="name"
                required>
    </div>

    <!-- EMAIL FORM  -->
    <div>
        <label for="email">Email</label>
        <input type="email" 
                id="email" 
                name="email"
                required>
    </div>

    <!-- PASSWORD FORM  -->
    <div>
        <label for="password">Name</label>
        <input type="password" 
                id="password" 
                name="password"
                required>
    </div>

    <!-- SUBMIT FORM -->
    <button type="submit">Register</button>

</form>

    <!-- BACK TO LOGIN PAGE -->
    <a href="/login">Login</a>